sensor-bindings = <
                &inc_dec_kp C_VOL_UP C_VOL_DN
                &inc_dec_kp C_VOL_UP C_VOL_DN
            >;
        };

        /*
         * Layer 3 — ОРИГИНАЛЬНЫЙ ADJUST
         */
        adjust_layer {
            bindings = <
                &bt BT_CLR        &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4
                &trans            &trans          &trans          &trans          &trans          &trans

                &ext_power EP_TOG &rgb_ug RGB_HUD &rgb_ug RGB_HUI &rgb_ug RGB_SAD &rgb_ug RGB_SAI &rgb_ug RGB_EFF
                &trans            &trans          &trans          &trans          &trans          &trans

                &trans            &rgb_ug RGB_BRD &rgb_ug RGB_BRI &trans          &trans          &trans
                &trans            &trans          &trans          &trans          &trans          &trans
                &trans            &trans

                &trans            &trans          &trans          &trans          &trans          &trans
                &trans            &trans          &trans          &trans          &trans          &trans
                &trans            &trans

                &trans            &trans          &trans          &trans
                &trans            &trans          &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        /*
         * Дополнительные слои для ZMK Studio
         */
        extra1 {
            status = "reserved";
        };

        extra2 {
            status = "reserved";
        };

        extra3 {
            status = "reserved";
        };

        extra4 {
            status = "reserved";
        };

        extra5 {
            status = "reserved";
        };
    };
};